/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Montserrat", Inter;
  color: #333;
  background-image: url(../../public/bg.svg);
  background: radial-gradient(circle at 20% 50%, #FFECB9, transparent 70%), radial-gradient(circle at 80% 50%, #2CAEA6, transparent 70%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  max-width: 1470px;
  width: calc(100% - 30px);
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}
.landing-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
}

/* Header */
.header {
  padding: 10px;
  background-color: #fff;
  z-index: 9999;
  position: sticky;
  top: 0;
}
.circle-bg{
    position: absolute;
    width: 1200px;
    z-index: 999;
    left: 0;
    top: 0;
    opacity: .85;
}

.logo img {
  max-width: 120px;
  height: 41px;
  width: 50px;
}

.logo p {
  margin-left: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

/* Content Section */
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  min-height: calc(100vh - 283px);
}

.text-section {
  z-index: 999;
  text-align: left;
  background-image: url("/public/shadowBg.png");
  /* background-color: rgb(255 255 255 / 57%); */
  padding: 45px 25px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-section h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 30px;
  color: #2caea6;
  margin-bottom: 0px;
}

.text-section h2 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 22px;
  margin-bottom: 0px;
}

.highlight {
  color: #2caea6;
  font-weight: 700;
}

.text-section p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 0px;
  padding-right: 40px;
}
.text-section p span {
  color: #566167;
}
.register-button,
.register-button:hover {
  background-color: #2caea6 !important;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-top: 24px;
}

.register-button:hover {
  background-color: #238fb1;
}

/* Image Section */
.image-section {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.image-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
  background-color: white;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-box img {
  padding-top: 115px;
}

/* Footer */
.footer {
  padding: 20px;
  background: #f8f8f8;
  text-align: center;
  z-index: 9999;
}

.footer p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #5f7580;
  font-weight: 500;
}
.footer-text p a {
  color: #9a9898;
}
.email-section {
  display: flex;
  align-items: center;
  max-width: 448px;
  margin: 0 auto;
  border: 1px solid #2caea6;
  border-radius: 5px;
  justify-content: space-between;
  padding: 0;
  background: #fff;
}
.focussed {
  border: 1px solid #2caea6;
}
.email-input,
.email-input:focus {
  padding: 10px;
  font-size: 1rem;
  border-radius: 0;
  width: 100%;
  border: none;
  background: #ffffff;
  outline: none;
  opacity: 0.6;
}

.submit-button,
.submit-button:hover {
  background-color: #2caea6 !important;
  color: #fff;
  border: 2px solid #2caea6 !important;
  padding: 13px 20px;
  font-size: 1rem;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  margin: 0;
  outline: none;
}

.submit-button:hover {
  background-color: #238fb1;
}
.alert-message {
  display: flex;
    align-items: center;
    max-width: 448px;
    margin: 0 auto;
}
.alert-message  p {
  margin: 5px 0;
  color: green;
}
.alert-message  p.error-message {
  color: red
}
.footer-text p {
  font-size: 12px;
  color: #9a9898;
  font-weight: 500;
  padding-top: 25px;
  margin-bottom: 0;
}
.alert-message {
  display: flex;
    align-items: center;
    max-width: 448px;
    margin: 0 auto;
}
.alert-message  p {
  margin: 5px 0;
  color: #007c00;
  font-size: 14px;
  font-weight: 400;
}
.alert-message p.error-message {
  color: #ff0000cc;
  font-size: 14px;
  font-weight: 400;
}
/* Responsive Styles */
@media (max-width: 1599px) {
  .product-box img {
    max-width: 580px;
  }
  .content {
    height: 600px;
  }
}
@media (min-width: 1660px) {
.content {
    height: calc(100vh - 320px);
    min-height: auto;
  }
  
}

@media all and (max-width: 1280px) {
  .content {
    min-height: calc(100vh - 300px);
  }
  .product-box img {
    max-width: 500px;
}
}

@media all and (max-width: 991px) {
  .circle-bg {
    width: 700px;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .product-box img {
    right: 0px;
    width: 100%;
    padding: 0;
  }
  .content {
    padding: 50px 0px;
    align-items: baseline;
    height: auto;
  }
  .header {
    padding-left: 0px;
    padding-right: 0px;
  }
  .text-section p {
    font-size: 16px;
    padding-right: 0;
  }
  .text-section {
    padding: 15px 15px 30px 15px;
    margin: 0 auto;
  }
  .image-section {
    width: calc(100% - 30px);
  }
  .product-box {
    margin: 0 auto;
  }

}
@media (max-width: 768px) {
  body {
    color: #333;
    background-image: url(http://localhost:3000/static/media/bg.95bde9c54bb2106d6393.svg);
}
.circle-bg{
  display: none;
}
.content {
  padding: 50px 0px 0px 0px;
  align-items: baseline;
  height: auto;
  flex-direction: column;
}
  .text-section h1 {
    font-size: 26px;
}
  .footer p {
    font-size: 14px;
  }
  .text-section h2 {
    font-size: 24px;
    margin-top: 10px;
}

  .image-section {
    flex-direction: column;
    align-items: center;
  }

  .image-circle {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .email-input, .email-input:focus {
    font-size: 14px;
  }
  .submit-button, .submit-button:hover {
    padding: 13px 13px;
  }
}